.logo {
  margin-top: 25px;
  margin-left: 20px;
  width: 120px;
}

.banner {
  background-image: url("../../images/dicebag.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  width: 100%;
  min-height: 170px;
}
