.logo {
  margin-top: 25px;
  margin-left: 20px;
  width: 120px;
}

.banner {
  background-image: url("../../images/dicebag.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  width: 100%;
  min-height: 170px;
}

.featuredImg {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  display: none;
}

.call-to,
.featuredDate,
.featuredAuthor {
  display: none;
}

.card:nth-child(13n + 1) .call-to,
.card:nth-child(9n) .call-to,
.card:nth-child(13n + 1) .featuredImg,
.card:nth-child(9n) .featuredImg,
.card:nth-child(13n + 1) .featuredAuthor,
.card:nth-child(9n) .featuredAuthor,
.card:nth-child(13n + 1) .featuredDate,
.card:nth-child(9n) .featuredDate {
  display: block;
}

.card {
  overflow: hidden;
}

.bottom {
  background-image: url("../../images/dicebag.jpg");
  background-position: top;
  background-size: cover;
  min-height: 300px;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: -1;
  margin-top: -20px;
}

.black-bg {
  background-color: black;
  min-height: 180px;
  width: 100%;
  z-index: -2;
  margin-top: -20px;
}

figure {
  text-align: center;
  margin: 0;
}

figure img {
  max-height: 500px;
  width: 95%;
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
  margin: 0 auto;
  border: 4px solid #2f0f69;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #2f0f69;
  background-color: #5eb84f;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 200px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 800px) {
  .banner {
    min-height: 250px;
  }
  .logo {
    margin-top: 35px;
    margin-left: 30px;
    width: 170px;
  }
  figure img {
    max-height: none;
    width: 80%;
  }
}

@media (min-width: 1880px) {
  .banner {
    min-height: 300px;
  }
  .logo {
    margin-top: 50px;
    margin-left: 40px;
    width: 200px;
  }
}
