.card:nth-child(13n + 1) {
  grid-area: left;
}
.card:nth-child(9n) {
  grid-area: right;
}

.blogcontainer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "left left ."
    "left left ."
    ". . ."
    ". right right"
    ". right right"
    ". . .";
}
